*{
    margin: 0;
    padding: 0;
    
}
img{
    width: 100%;
}
body{
    margin-right: 0;
    padding-right: 0;
    
    
}
.web-head{
    background-image: linear-gradient(to left,rgba(52, 152, 219,0.6),#8c7ae6);
    padding: 5px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    
}
.logo{
    width: 150px;
    height: 80px;
    
   margin: 0 auto;
   justify-content: start;
   align-items: center;
   margin-left: 100px;
   
    
    
}
.logo img {
    width: 180px;
    height: 150px;
    margin-top: -40px;
    

}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 100px;
    
    
    
   
}
.menu ul{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
    
    padding-top: 8px;
}
.menu ul li{
    list-style: none;
    padding: 18px;
    text-align: center;
    

    

    
    
}
.menu ul li a{
    color: black;
    font-weight: 300;
    text-decoration: none;
    transition: 0.7s;
    font-size: 17px;
    text-transform: uppercase;
    padding: 8px;
}
.menu ul li:hover a{
    
    background: #5f27cd;
   
    border-radius: 5px;
}











#particles-js{
    height: 100vh;
    
    width: 330px;
    background-color: rgba(46, 204, 113, 0.5) ;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: rgba(46, 204, 113, 0.1);
    
    -moz-box-shadow:    3px 3px 5px 6px rgba(46, 204, 113, 0.5);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(46, 204, 113, 0.5);
    box-shadow:         3px 3px 5px 6px rgba(46, 204, 113, 0.5);
    
    
    
}



.imag{
    
    width: 380px;
    height: 420px;
    padding: 20px;

   
    margin-top: 150px;
    margin-left: -320px;
    border: solid 10px rgba(46, 204, 113, 0.5) ;
    
  border-image: linear-gradient(to left, rgba(46, 204, 113, 0.5) 48%, transparent 50%); /* to top - at 50% transparent */
  border-image-slice: 1;
    
}
.imag img{
    height: 100%;
    width: 100%;

    
   
}



/* animation writing and other*/
.text-1{
    
    margin-top: 320px;
    float: left;
    align-items: center;
    
    justify-content: center;
    margin-left: -320px;
    
    
    
    
}
.text-1 p{
    float: left;
    font-size: 20px;
    
    
    
    


}
.text-1 a{
    
    float: left;
    border: solid 2px rgba(46, 204, 113, 0.5);
    padding: 10px;
    
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    
    position: static;
    border-radius: 5px;
    transition: .6s;


    
    
    
}

.text-1 a:hover{

    text-decoration: none;
    text-align: center;
    background: rgba(46, 204, 113, 0.5);
    color: #fff;
}


.text {
    margin-left: -320px;
  justify-content: left;
 
    align-items: center;
    float: left;
    margin-top: 150px;
    position: absolute;
    margin-right: none;
    padding-right: 0;
    
    
    
    
    
    
  }
  .text p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    
    
  }
  .text p span.typed-text {
    font-weight: 500;
    color: rgba(46, 204, 113, 1);
  }
  .text p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .text p span.cursor.typing {
    animation: none;
  }



  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
  .text h1{
      font-weight: 700;
      font-size: 50px;
      margin-left: 6px;
      color:rgba(46, 204, 113, 1) ;
      

  }

  /* animation writing*/
  @media(max-width:576px){
      display: none;
  }

